.send-plan-do {
    padding: var(--mdt-core-spacing-12px);

    .header-section_row,
    .do-confirmation,
    .deliveryOrder-table,
    .send-plan-notification {
        margin-bottom: var(--mdt-core-spacing-12px);
    }

    .label {
        font-weight: var(--mdt-brand-font--default--bold-font-weight);
        font-size: var(--font-size-s);
    }

    .send-plan-actions {
        display: flex;
        justify-content: end;
        gap: var(--mdt-core-spacing-4px);
    }

    .notification-list {
        margin: -1rem;
        font-weight: var(--mdt-brand-font--default--bold-font-weight);
    }
}
