<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="sameorigin" />
                <add name="Strict-Transport-Security"
                    value="max-age=63072000; includeSubDomains; preload" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <remove fileExtension="remote-entry.js" />
            <mimeMap fileExtension="remote-entry.js" mimeType="application/javascript" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="DisableCache for main.bundle.js and index.html">
                    <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                    <conditions>
                        <add input="{URL}" pattern=".*(main\.bundle\.js|index\.html)" />
                    </conditions>
                    <action type="Rewrite"
                        value="no-cache, no-store, must-revalidate, proxy-revalidate" />
                </rule>
                <rule name="DisableCache for remote-entry.js">
                    <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                    <conditions>
                        <add input="{URL}" pattern=".*(remote-entry\.js)" />
                    </conditions>
                    <action type="Rewrite" value="must-revalidate, proxy-revalidate" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>