.delivery-leg-pickup-section {
    padding: var(--mdt-core-spacing-16px);

    &_header {
        font-weight: var(--mdt-brand-font-weight-bold);
        margin-bottom: var(--mdt-core-spacing-8px);
    }

    &_row {
        margin-bottom: var(--mdt-core-spacing-24px);
    }

    &_time {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &_label {
            width: 100%;
            margin: var(--input-label-margin-s);
            font-size: var(--input-font-size-s);
            line-height: var(--input-label-line-height-s);
        }

        > div {
            margin-right: var(--mdt-core-spacing-8px);
        }

        &_picker {
            width: 112px;
        }

        &_zone {
            width: 60px;
        }
    }
}
